.container {
    display: block;
    width: 100%;
}

.sumary-price-container {
    width: 100%;
    border: 1px solid;
    
}

.text-sum {
    display: inline-block;
    width: 70%;
    
}

.text-price {
    display: inline-block;
    width: 30%;
    /* text-align: right; */
}