.Navbar {
    background-color: #9F7A34;
    overflow: hidden;
    position: fixed;
    bottom: 0;
  }
  
  .Navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 15px 250px;
    text-decoration: none;
    font-size: 24px;
    border: 0.5px solid hsl(0, 0%, 0%);
    border-radius: 4px;
  }
  
  .Navbar a:hover {
    background-color: #c0c0c0;
    color: #000000;
  }